
html body {
    font-family: Roboto;
    color: #425D64;
    // padding: 4px 4px 0;
    font-size: 16px;
    background-color: #fafafa;
}

h1 {
  font-size: 4rem;
  line-height: 4rem;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

// PRINT
@media print {
  // nav,
  // .v-application--wrap,
  // .q-toolbar{
  //     display: none !important;
  // }

  // .coha--print,
  // .q-dialog__inner,
  // .q-dialog,
  // .q-dialog__inner--maximized>div
  //  {
  //     position: inherit;
  // }

}

// Guest / Rightsided Content View
.rightsided-content {
    padding: 5px 20px;

    .inner-content {
        max-width: 465px;
        @media screen and (max-width: 960px) {
            & {
                margin: auto;
            }
        }
    }
}

// App-View
.coha-app--view {

    main {
        & > .v-content__wrap {
            padding-bottom: 50px;
            // overflow: scroll;
            // max-height: 100vh;

            p {
                color: rgba(0,0,0,.6);
            }
        }
    }

    h1 {
        font-weight: 300;
        font-size: 2.85em;
    }
    h2 {
        font-weight: 300;
        font-size: 2em;
    }
}

select {
    min-width: 15px;
}

.v-menu {

    &.v-menu--inline {
        display: inline;
    }
}

// SELECT IN CHIP
.v-chip__content > select {
    height: 100%;
    width: calc(100% + 20px);
    margin: 0 -10px;
    padding: 0px 10px;
}


// Toolbar
.coha--toolbar {
    &.v-toolbar {
        display: flex;
        align-items: center;
        .v-toolbar__content {
            height: 100%;
            width: 100%;

            @media screen and (max-width: 770px) {
                padding: 16px 16px;
                flex-direction: column;
            }
        }
    }
}

// Button
.v-btn__content {
    flex: auto;
    white-space: normal;
}

// .v-btn.v-btn--disabled {
//     background: rgba(0, 0, 0, 0.16) !important;
//     color: #aaaaaa !important;
// }

// Expanded Content
.v-data-table tbody tr.v-data-table__expanded__content {
  box-shadow: inherit;
}

// Footer
.footer {
  background-color: #f5f5f5;
  color: rgba(0,0,0,.87);
  a {
    color: #000;
  }
}

// Subheader / Divider
.v-subheader.divider {
    align-items: center;
    justify-content: center;
    position: relative;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: .1em;
    &:before {
        content: "";position: absolute;background: #757575;width: 100%;height: 1px;right: 0;
        z-index: 0;
    }
    & > span {
        background: #fafafa;
        z-index: 1;
        padding: 0 20px;
    }
}

.auth-panel {
    margin-bottom: 15px;

    .headline {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 2rem !important;
        letter-spacing: .1em !important;
        margin: 0 !important;
        font-family: Raleway, Roboto, sans-serif !important;
    }

    .subtitle {
        font-size: 1.15rem;
        opacity: .8;
    }

    .icon {
      font-size: 40px;
    }
}

// Login
.coha--login-wrapper {
    color: rgba(0,0,0,.6);
    background-color: #b6b6b6;

    & + .footer {
        background-color: rgb(171, 171, 171);
    }
}

// Register
.coha--register-wrapper {
    background-color: #9ac0c9;

    & + .footer {
        background-color: #9ac0c9;
    }
}

// PAN
.coha--pan-wrapper {

    & + .footer {
        background-color: #d2bc37;
    }

    input {
        font-size: 40px;
        line-height: 1;
        padding-top: 2px;
        padding-bottom: 2px;
        height: auto;
        max-height: inherit;
        font-family: Roboto Mono, Consolas, monospace, monospaced;
    }

    .q-field__control {
      height: auto;
    }

    .v-label {
        right: 0 !important;
        width: 100% !important;
        max-width: 100%;
        bottom: 0 !important;
        top: 20px !important;
    }

    .v-label--active {
        margin: 0 !important;
        top: 0 !important;
    }
}

// PIN
.secured input {
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
    -webkit-text-security: disc;
}

// V-Dialogs
.v-dialog {
    &.naked {
        box-shadow: unset;
    }
    &.dark {
        color: #fff;
    }
    &.centered {
        text-align: center;
    }
}


// V-Navigation Sidebar
.v-navigation-drawer {
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100) !important;
}


// List Item disabled
.v-list-item--disabled {
    opacity: .5;
    &.theme--light {
        background: #fefefe;
    }
}


//
.c-code-text {
    &,
    & input {
        font-family: Roboto Mono;
        font-size: 1.15em;
    }
}

.coha--filter-input {
    &.v-text-field.v-text-field--enclosed {
        margin-left: -12px;
        width: auto;
        display: inline-block;
    }
}

.pan--dialog-input {
    .v-text-field__slot > *,
    input {
        text-transform: uppercase;
    }
}

.coha--list-item {

    &.c-code-text {
        &,
        & > .v-small-dialog__activator {
            // width: 100%;
            display: inline-block;
        }
    }

    &.pan {
        white-space: nowrap;
        .pan--part:first-child {
            margin-right: .275em;
        }
    }

    &.pin {
        white-space: nowrap;
    }
}

// Fullsize PopUp Edit
.q-menu.scroll.q-popup-edit.maximize {
  left: 0 !important;
  right: 0 !important;
  margin: auto;
  top: 0 !important;
  bottom: 0 !important;
  background: rgba(0, 0, 0, 0.25);
  position: fixed;
  width: 100% !important;
  max-width: unset !important;
  height: 100% !important;
  max-height: 1200px !important;

  .inner,
  .q-popup-edit__buttons
  {
    margin: auto;
    min-width: 380px !important;
    width: 50vw !important;
    max-width: 90% !important;
  }



  .inner {
    left: 0;
    right: 0;
    margin: auto;
    top: 0;
    bottom: 0;
    height: auto;
    padding: 20px;
    background: #fff;
    max-height: 90vh !important;
    overflow: scroll;
  }

  .q-popup-edit__buttons {
    background: #fff;
    bottom: -8px;
    position: sticky;
  }


}


// MY DATA TABLE
.my-data-table {
  /* max height is important */
  .q-table__middle{
    max-height: 75vh;
  }

  thead tr th{
    position: sticky;
    z-index: 1;
    background: #fff;
    z-index: 102;
  }

  thead tr:first-child th{
    top: 0;
  }

  /* this is when the loading indicator appears */
  &.q-table--loading thead tr:last-child th{
    /* height of all previous header rows */
    top: 48px;
  }

  th:first-child,
  td:first-child,
  th:last-child,
  td:last-child{
    position: sticky !important;
    background-color: #fff;
    // z-index: 102;
    z-index: 105;
  }

  th:last-child,
  td:last-child{
    right: 0 !important;
  }

  th:first-child,
  td:first-child{
    left: 0;
  }
}

// Full Height Table
.q-table__container.f-height .q-table__middle {
  max-height: inherit;
}

.expandable-row {
  td {
    &:before {
      display: none;
    }
  }
}
