
// Print
@media print {
    .page-break	{
        display: block;
        page-break-before: always;
    }
    @page {
        margin: 0;
    }
    body {
        margin: 0;
        padding: 0;
    }
}

// Coha Print Content
.coha--print {
    
    .element {
        
    }
}

