
@media screen and (min-width: 770px) {

  .survey.wrapper {
    max-width: 770px !important;
    position: relative;
    margin: auto;
    display: flex;
    min-height: 100vh;
    // align-items: center;
    align-items: self-start;
    justify-content: center;

    & > .inner {
      margin: 5vh 15px 15vh;
      box-shadow: 0px 6px 25px -9px #0000001a;
      border: 1px solid #e4e5e6;
      height: auto;
      width: 100%;
      padding: 0 0 5px;
      background: #fff;

      .q-page,
      .q-layout  {
        min-height: unset !important;
        min-height: auto !important;
      }

      .q-page-container {
        padding-top: unset !important;
      }

      .q-header,
      .q-footer {
        position: static;
      }

      .q-footer {
        border: 0;
      }
    }
  }
}

.survey.wrapper {
  .q-checkbox__inner--truthy .q-checkbox__bg {
    background: var(--option-color);
    border-color: var(--option-color);
  }
}

.coha--rating-slider {

  margin: 0 auto;

  .q-slider__track-container {
    margin-top: -3px;
    background: rgba(0, 0, 0, 0.12);
    border-radius: 5px;
  }

  .q-slider__track-markers {
    opacity: .15;
    :after {
      height: 100%
    }
  }

  &[aria-orientation="horizontal"] {
    max-width: 350px;
    .q-slider__track-container {
      height: 6px;
    }
  }

  &[aria-orientation="vertical"] {
    min-height: 200px;
    height: 30vh;
    max-height: 660px;
    .q-slider__track-container {
      width: 6px;
    }
  }
}


// Survey Questions
.finished_survey_dialog .q-card {
  min-width: 320px;
  max-width: 770px;
  width: 75vw;
  min-height: 220px;
  height: 75vh;
  max-height: 770px;

  .q-card__actions {
    bottom: 0;
    position: absolute;
    right: 0;
  }

}
