// My Data-Table
.my-data-table {
  /* max height is important */
  .q-table__middle{
    max-height: 75vh;
  }

  thead tr th{
    position: sticky;
    z-index: 1;
    background: #fff;
    z-index: 102;
  }

  thead tr:first-child th{
    top: 0;
  }

  /* this is when the loading indicator appears */
  &.q-table--loading thead tr:last-child th{
    /* height of all previous header rows */
    top: 48px;
  }

  th:first-child,
  td:first-child,
  th:last-child,
  td:last-child{
    position: sticky !important;
    background-color: #fff;
    // z-index: 102;
    z-index: 105;
  }

  th:last-child,
  td:last-child{
    right: 0 !important;
  }

  th:first-child,
  td:first-child{
    left: 0;
  }
}

// Full Height Table
.q-table__container.f-height .q-table__middle {
  max-height: inherit;
}

// Questions Table
.questions-table {

    table {
        tr {
            td {
                white-space: normal;
            }
        }
    }
}

.expandable-row {
  td {
    &:before {
      display: none;
    }
  }
}

// Sort
.should-be-sorted {
  &:not(.sorted),
  &.sort-desc {
    background-color: red;
    background-color: var(--q-color-error);
    color: #fff;
  }
}
