
html body {
    font-family: Roboto;
    color: #425D64;
    // padding: 4px 4px 0;
}

// Guest / Rightsided Content View
.rightsided-content {
    padding: 5px 20px;

    .inner-content {
        max-width: 465px;
        @media screen and (max-width: 960px) {
            & {
                margin: auto;
            }
        }
    }
}

// App-View
.coha-app--view {
    h1 {
        font-weight: 300;
        font-size: 2.85em;
    }
    h2 {
        font-weight: 300;
        font-size: 2em;
    }

    p {
        color: rgba(0,0,0,.6);
    }
}

// Button 
.v-btn__content {
    flex: auto;
    white-space: normal;
}

// Footer
.v-application .v-footer a {
    color: #000;
}

// Subheader / Divider
.v-subheader.divider {
    align-items: center;
    justify-content: center;
    position: relative;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: .1em;
    &:before {
        content: "";position: absolute;background: #757575;width: 100%;height: 1px;right: 0;
        z-index: 0;
    }
    & > span {
        background: #fafafa;
        z-index: 1;
        padding: 0 20px;
    }
}

.auth-panel {
    margin-bottom: 15px;
    .v-list-item {
        padding: 6px 22px;
        .headline {
            text-transform: uppercase;
            font-weight: 700;
            font-size: 2rem !important;
            letter-spacing: .1em !important;
            margin: 0 !important;
            font-family: Raleway, Roboto, sans-serif !important;
        }
        .v-list-item__subtitle {
            font-size: 1.15rem;
        }
    }
}

// Login
.coha--login-wrapper { 
    color: rgba(0,0,0,.6);
    background-color: #b6b6b6;

    & + .v-footer {
        background-color: rgb(171, 171, 171);
    }
}

// Register
.coha--register-wrapper {
    background-color: #9ac0c9;

    & + .v-footer {
        background-color: #9ac0c9;
    }
}

// PAN
.coha--pan-wrapper {

    & + .v-footer {
        background-color: #d2bc37;
    }

    .v-input input {
        font-size: 40px;
        line-height: 1;
        padding-top: 2px;
        padding-bottom: 2px;
        height: auto;
        max-height: inherit;
        font-family: Consolas, monospace, monospaced;
    }

    .v-label {
        right: 0 !important;
        width: 100% !important;
        max-width: 100%;
        bottom: 0 !important;
        top: 20px !important;
    }

    .v-label--active {
        margin: 0 !important;
        top: 0 !important;
    }
}


// V-Dialogs
.v-dialog {
    &.naked {
        box-shadow: unset;
    }
    &.dark {
        color: #fff;
    }
    &.centered {
        text-align: center;
    }
}


// V-Navigation Sidebar
.v-navigation-drawer {
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100) !important;
}


// List Item disabled
.v-list-item--disabled {
    opacity: .5;
    &.theme--light {
        background: #fefefe;
    }
}